<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.mydogtom.login" >
    <application>
        <activity android:name="com.github.mydogtom.login.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="s-urn"
                    android:host="login"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
